{% comment %}
    Renders a product card

    Accepts:
    - product_card_product: {Object} Product Liquid object (optional)
    - media_size: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
    - show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional)
    - add_image_padding: {Boolean} Enables padding on the image to space out the grid
    - show_vendor: {Boolean} Show the product vendor. Default: false
    - show_image_outline: {Boolean} Show card outline. Default: true (optional)

    Usage:
    {% render 'product-card', show_vendor: section.settings.show_vendor %}
{% endcomment %}

<div class="card-wrapper">
	<span class="visually-hidden">{{ product_card_product.title | escape }}</span>
  	<div>
		<div class="stats">       
<table>
<tbody>
<tr>
  <td colspan="2">{{ product_card_product.title | escape }}</td>
</tr>
<tr>
<td>Players: <b>2-8</b></td>
<td>{{ product_card_product.metafields.custom.one_liner }}</td>
</tr>
<tr>
<td>A.G.E.*: <b>10+</b></td>
<td>{% render 'price', product: product_card_product, price_class: '' %}</td>
</tr>
<tr>
<td>Time: <b>60 min</b></td>
<td>Buy Now</td>
</tr>
<tr>
<td>Genre: <b>Hand elimination /set collection</b></td>
  <td><a href="{{ product_card_product.url | default: '#' }}" class="full-unstyled-link">More Details</a></td>
</tr>
</tbody>
</table>
		</div>
	</div>
</div>
    </div>
</div>
